<div style="display: flex;justify-content: center;align-items: center;">


    <form style="width: 80%;">
        <h1 class="text-center text-danger">{{branchdata.name}} Branch Details</h1>
        <div class="form-group mb-3">
            <label for="exampleInputEmail1">ID</label>
            <input type="text" class="form-control" disabled [value]="branchdata.id">

        </div>
        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" disabled [value]="branchdata.name">

        </div>
        <div class="form-group mb-3">
            <label for="exampleInputEmail1">Location</label>
            <input type="text" class="form-control" disabled [value]="branchdata.location">

        </div>


        <div style="display: flex;justify-content:center">


            <a routerLink="/Admin/Branch/Index" class="btn btn-primary">Back To Data</a>
        </div>
    </form>
</div>