<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="row justify-content-center w-100">
                    <div class="col-md-8 col-lg-6 col-xxl-3">
                        <div class="card mb-0">
                            <div class="card-body" style="background-color: white;">
                                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                    <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                                </a>
                                <p class="text-center">Your Social Campaigns</p>
                                <form [formGroup]="myForm" (ngSubmit)="forgetPassword()">

                                    <div class="mb-3 text-danger">
                                        <span class="d-block" *ngIf="message!=''">{{message}}</span>
                                        <div class="d-block" *ngIf="messages.length >0">
                                            <span class="d-block" *ngFor="let ele of messages">{{ele}}</span>
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email Address</label>
                                        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp" (focus)="empty()">
                                        <div *ngIf="this.myForm.get('email')?.invalid && this.myForm.get('email')?.touched" class="text-danger">
                                            <span class="d-block mb-3" *ngIf="this.myForm.get('email')?.errors?.['required']">
                                            {{validationmessage.email.required}}
                                            </span>
                                            <span class="d-block" *ngIf="this.myForm.get('email')?.errors?.['email']">
                                                {{validationmessage.email.email}}
                                                </span>
                                        </div>
                                    </div>


                                    <div class="text-center">

                                        <button class="text-light btn btn-primary fw-bold ms-2" type="submit" [disabled]="!myForm.valid">Send Link</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>