<div class="container">
    <div class="row">
        <div class=" col-12 col-lg-6">
            <div class="card">
                <img class="card-img-top" src="../../../../../../assets/images/backgrounds/download (3).jpeg" alt="Card image" height="300">
                <div class="card-body">
                    <h4 class="card-title">Assign Course To branch</h4>

                    <a routerLink="/Admin/BranchCourse/Assign" class="btn btn-primary">Assign</a>
                </div>
            </div>

        </div>

        <div class=" col-12 col-lg-6">
            <div class="card">
                <img class="card-img-top" src="../../../../../../assets/images/backgrounds/download5.jpeg" alt="Card image" height="300">
                <div class="card-body">
                    <h4 class="card-title">Delete Course from branch</h4>

                    <a routerLink="/Admin/BranchCourse/Delete" class="btn btn-danger">Delete</a>
                </div>
            </div>

        </div>
    </div>
</div>